<h2>Prueba de inferencia de documentos</h2>

<label>User ID:</label>
<input type="text" [(ngModel)]="userId">

<br><br>

<label>Tipo de inferencia</label>
<select [(ngModel)]="inferenceType">
    <option value="contact">Contacto</option>
    <option value="account">Cuenta</option>
    <option value="commerce">Comercio</option>
</select>

<br><br>

<label>Seleccionar archivo:</label>
<input type="file" multiple (change)="onFilesSelected($event)">

<!-- Add this to render the list of files selected -->
 <ul *ngIf="selectedFiles.length">
    <li *ngFor="let f of selectedFiles">
        {{ f.name }} ({{ f.size }} bytes)
    </li>
 </ul>

<br><br>

<button (click)="send()" [disabled]="selectedFiles.length === 0 || loading">
    {{ loading ? 'Processing...' : 'Send' }}
</button>

<hr>

<div *ngIf="errorMessage" class="error-message">
    <h3>Error</h3>
    <pre>{{ errorMessage }}</pre>
</div>

<h3>Tabla de valores</h3>

<table *ngIf="result?.data" border="1" callpadding="6">
    <thead>
        <tr>
            <th>Campo</th>
            <th>Valor</th>
            <th>Low confidence</th>
            <th>Found multiple</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of result.data">
            <td>{{ getLabel(item.field) }}</td>
            <!-- <td>{{ item.probable_value }}</td> -->

            <!-- value: show selector/input when editing, otherwise text -->
            <td>
                <ng-container *ngIf="item._editing; else viewValue">
                    <!-- If there are multiple valures show a select with an "Other" option-->
                    <ng-container *ngIf="(getCandidates(item) || []).length > 0; else SingleInput">
                        <select [(ngModel)]="item._selectedCandidate" (change)=onCandidateChange(item)>
                            <option *ngFor="let c of getCandidates(item)" [ngValue]="c">{{ c }}</option>
                            <option [ngValue]="'__other__'">Other...</option>
                        </select>

                        <!-- Manual input when "Other..." is chosen -->
                        <div *ngIf="item._useOther" style="margin-top:6px;">
                            <input type="text" [(ngModel)]="item._editValue" placeholder="Ingresar valor">  
                        </div>
                    </ng-container>

                    <!-- Fallback; single text input -->
                    <ng-template #SingleInput>
                        <input type="text" [(ngModel)]="item._editValue">
                    </ng-template>
                </ng-container>

                <ng-template #viewValue>
                    {{ item.probable_value }}
                </ng-template>
            </td>

            <!-- low_confidence column: Yes/No, red bold when true -->
            <td 
                [ngStyle]="item.low_confidence ? {'color':'red','font-weight':'bold'} : {}">
                {{ item.low_confidence ? 'Yes' : 'No' }}
            </td>

            <!-- found_multiple column: Yes/No, red bold when true -->
            <td
                [ngStyle]="item.found_multiple ? {'color':'red','font-weight':'bold'} : {}">
                {{ item.found_multiple ? 'Yes' : 'No' }}
            </td>

            <!-- Actions column: Edit / Save / Cancel -->
             <td>
                <ng-container *ngIf="item._editing; else editButton">
                    <button (click)="saveItem(item)">Save</button>
                    <button (click)="cancelEdit(item)">Cancel</button>
                </ng-container>
                <ng-template #editButton>
                    <button (click)="editItem(item)">Edit</button>
                </ng-template>
             </td>
            
        </tr>
    </tbody>
</table>

<br><br>

<!-- Button to capture results -->
<button *ngIf="result?.data" (click)="captureResults()">
    Guardar resultados
</button>

<hr>

<!-- Display raw response-->
<h3>Raw API Response</h3>
<pre *ngIf="result">{{ result | json }}</pre>

<!-- Display "captured" values-->
<h3 *ngIf="result">Captured Values</h3>
<div *ngIf="result">
    <p><strong>Nombre:</strong> {{ captured.contactName }} </p>
    <p><strong>RUT:</strong> {{ captured.contactRut }} </p>
    <p><strong>Número de serie:</strong> {{ captured.serialNumber }} </p>
    <p><strong>Banco:</strong> {{ captured.bankName }} </p>
    <p><strong>Tipo de cuenta:</strong> {{ captured.accountType }} </p>
    <p><strong>Número de cuenta:</strong> {{ captured.accountNumber }} </p>
    <p><strong>Razón social:</strong> {{ captured.socialReason }} </p>
    <p><strong>Nombre de fantasía:</strong> {{ captured.fantasyName }} </p>
    <p><strong>Actividad económica:</strong> {{ captured.economicActivity }} </p>
    <p><strong>Composición:</strong> {{ captured.composition }} </p>
</div>
